<div>
  <img [src]="ingredients.imageUrl"  alt="{{ingredients.name}}" style="width: 100px; height: 100px; margin-right: 15px" (click)="onClick()">
  <span>{{ingredients.name}}</span>
  <span>X{{ ingredients.amount }}</span>
  <button [disabled]="ingredients.amount === 0" (click)="onDelete()">Delete</button>
</div>
