<div class="container">
  <div class="ingredients">
    <h2>Ingredients</h2>
    <app-ingredient
      *ngFor="let ingredient of ingredients; let i = index"
      [ingredients]="ingredient"
      (delete)="deleteButton(i)"
      (clickAdd)="clickIng(i)"
    ></app-ingredient>
  </div>
  <div class="burger">
    <h2>Burger</h2>
    <div class="Burger">
      <div class="BreadTop">
        <div class="Seeds1"></div>
        <div class="Seeds2"></div>
      </div>
      <div
        *ngFor="let topping of array"
        [ngClass]="topping"
      ></div>
      <div class="BreadBottom"></div>
    </div>
    <h3>Price: {{price}}</h3>
  </div>
</div>
